
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
    font-family: Avenir, sans-serif;
    padding-top: 30px;
    background-image: linear-gradient(to right,#C1E6FD, #C6F6C6);
    text-align: center;
    font-size: 18px;
    font-size-adjust: auto;
    overflow-x: hidden;

}
h5, .h5{
  padding-top: 15px;
}
footer{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
}
.guesserDiv, .introDiv, .walkthrough, .compareexplore, .whyDiv, .whatDiv {
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.button.btn, .btn-secondary{
  background-color: darkblue;
  border-radius: 12px;
  border-color: darkblue;
}
.button.btn, .btn-secondary:hover{
  background-color: lightgreen;
  color:black;
}
.walkthrough{
    background-image: linear-gradient(to right,#e0f4ff, #e8ffe8);
}
.guesserDiv{
    background-color:#FFFFFF;
}
.compareexplore{
    background-color:#FFFFFF;
}
.whyDiv{
  background-image: linear-gradient(to right,#e0f4ff, #e8ffe8);
}


.example{
  background-color:white;
  width: auto;

  padding:25px;
  margin: 40px;
}


A, A:visited{
  color:black;
}

A:hover{
  color:#707070;
}
/* .resultsFigure{

  background-image: linear-gradient(#FFFFFF, #bdc1c3 );
}#EAEFF2*/
img{
  max-width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color:#FFFFFF;
}

.images{
  /*background-image: linear-gradient(#FFFFFF, #bdc1c3 );*/
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}


.app-header-title {
    padding-top:30px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:10px;
    text-align:center;

}

.app-total-budget-par{
    padding-top:25px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:10px;
    text-align:center;
}

.estimate{
    padding-left:25px;
    padding-bottom:25px;
    text-align:center;
}

.answer{
    padding-left:25px;
    padding-bottom:25px;
    text-align:center;
}

.rc-slider{
    background-image: linear-gradient(to right, darkblue, lightgreen);
    height: 50px;
    margin-bottom: 20px;

}

.rc-slider-rail {
   background-color: transparent;
}

.rc-slider-track {
  background-color: transparent;
}

.rc-slider-mark {
    margin-top:35px;
    color:black;
    opacity: 100%;
    font-size: 16px;
}
.rc-slider-handle{
    height: 50px;
    width: 10px;
    border-radius: 25px;
    border-color: white;
    background-color: #00E7FF;
}

.rc-slider-handle.rc-slider-handle-1{
    height: 50px;
    width: 10px;
    border-radius: 25px;
    border-color: white;
    background-color: #00E7FF;
}

.rc-slider-handle.rc-slider-handle-2{
    height: 50px;
    width: 10px;
    border-radius: 25px;
    border-color: white;
    background-color: black;
}

.rc-slider-dot.rc-slider-dot-active{
  background-color: transparent;
  border-color: transparent;

}

.rc-slider-dot{
  background-color: transparent;
  border-color: transparent;
}

.rc-slider-rail:disabled{
  display:none;
  background-color: transparent;
}
